:root {
	--color--white: #ffffff;
	--color--app-bg: #0c1b32;

	--color--blue: #122d41;
	--color--sidebar-blue: #0000001a;
	--color--light-blue: #142f44;
	--color--dark-blue: #162a3a;

	--color--green: #00ffc4;

	--color--gray: #ffffff80;
}
