html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
}

body {
	font-family: 'Nunito', sans-serif;

	background: var(--color--app-bg);
	color: var(--color--white);

	::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: var(--color--light-blue);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--color--blue);
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--color--blue);
	}
}

html,
body,
#root,
.app {
	width: 100%;
	height: 100%;
}

img {
	object-fit: contain;
}

button {
	cursor: pointer;
	border: none;
}
